{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
        <div class="navbar-header">
          {{ page.navigation }}
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
        </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </header>



    {% if logged_in %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar2" role="banner" style="background: #FFF !important; border-bottom: 1px solid #150958; z-index: 999 !important; min-height: 30px !important;">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
        <div class="navbar-header" id="idSubMenuResp">
          
          {% if page.navigation_collapsible %}
            <ul class="ulsubmenutopo-collapsible">

              {% if user.displayname == 'admin' or user.displayname == 'NUCOM' or user.displayname == 'ASCOM' or user.displayname == 'CONHECIMENTO' %}
                <li><a href="https://homologacao.prf.gov.br/drupal_dev/node/add/article" style="color: #150958 !important;">Adicionar Notícia</a></li>
              {% endif %}
              <li><a href="https://homologacao.prf.gov.br/drupal_dev/mapa" style="color: #150958 !important;">Notícias</a></li>
              <li><a href="https://sei.prf.gov.br/sei/publicacoes/controlador_publicacoes.php?acao=publicacao_pesquisar&id_orgao_publicacao=0" style="color: #150958 !important;" target="_blank">Boletim Eletrônico</a></li>
              <li><a href="http://www.prf.gov.br/arquivos/" style="color: #150958 !important;" target="_blank">Drive</a></li>
              <li><a href="https://homologacao.prf.gov.br/drupal_dev/menu" style="color: #150958 !important;">Sistemas</a></li>
            </ul>
          {% endif %}

        </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse" style="text-align: center !important; position: relative !important;">
          <ul class="ulsubmenutopo">
            
            {% if user.displayname == 'admin' or user.displayname == 'NUCOM' or user.displayname == 'ASCOM' or user.displayname == 'CONHECIMENTO' %}
              <li><a href="https://homologacao.prf.gov.br/drupal_dev/node/add/article" style="color: #150958 !important;"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_ad_noticia.png" height="18" alt="Adicionar Notícias" border="0"></a></li>
            {% endif %}
            <li><a href="https://homologacao.prf.gov.br/drupal_dev/mapa" style="color: #150958 !important;"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_noticias.png" height="20" border="0"></a></li>
            <li><a href="https://sei.prf.gov.br/sei/publicacoes/controlador_publicacoes.php?acao=publicacao_pesquisar&id_orgao_publicacao=0" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_boletim_eletronico.png" height="20" border="0"></a></li>
            <li><a href="http://www.prf.gov.br/arquivos/" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_drive.png" height="20" border="0"></a></li>
            <li><a href="https://www.prf.gov.br/pdi/login" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_pdi.png" height="20" border="0"></a></li>
            <li><a href="https://www.prf.gov.br/bat" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_bat.png" height="20" border="0"></a></li>
            <li><a href="http://www.prf.gov.br/brcrime/index.xhtml" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_bop.png" height="20" border="0"></a></li>
            <li><a href="http://www.prf.gov.br/multas/siscom.jsp" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_siscom.png" height="20" border="0"></a></li>
            <li><a href="https://www.prf.gov.br/sipac/?modo=classico" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_sipac.png" height="20" border="0"></a></li>
            <li><a href="https://sei.prf.gov.br/sip/login.php?sigla_orgao_sistema=PRF&sigla_sistema=SEI" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_sei.png" height="20" border="0"></a></li>
            <li><a href="https://www2.prf.gov.br/webmail" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_webmail.png" height="20" border="0"></a></li>
            <li><a href="https://www.prf.gov.br/sicop/login#/" style="color: #150958 !important;" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_sicop.png" height="20" border="0"></a></li>
            <li>
              <div id="submenu-sistemas">
                <a href="https://www.prf.gov.br/pdi/login" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/PDI.png" width="41" height="74" border="0"></a>
                <a href="https://www.prf.gov.br/bat" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/BAT.png" width="41" height="55" border="0"></a>
                <a href="http://www.prf.gov.br/brcrime/index.xhtml" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/BOP.png" width="41" height="63" border="0"></a>
                <a href="http://www.prf.gov.br/multas/siscom.jsp" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/Siscom.png" width="41" height="71" border="0"></a>
                <a href="https://www2.prf.gov.br/webmail" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/Webmail.png" width="41" height="55" border="0"></a>
                <a href="https://www.prf.gov.br/sipac/?modo=classico" target="_blank"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/Sipac.png" width="41" height="66" border="0"></a>
                <p align="center"><a href="https://homologacao.prf.gov.br/drupal_dev/menu">Mais...</a></p>
              </div>
              <a id="idLinkSistemasSubMenu222" href="https://homologacao.prf.gov.br/drupal_dev/menu" style="color: #150958 !important;"><img src="https://homologacao.prf.gov.br/drupal_dev/themes/intranetprf/images/submenu_outros_sistemas.png" height="20" border="0"></a>
            </li>
          </ul>
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </header>
    {% endif %}

  {% endblock %}
{% endif %}
{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row" style="position: relative;">
      <div id="idRCarregando" style="position: absolute; left: 0px; top: 0px; display: none; width: 100%; height: 100%; background-color: rgba(255, 255, 255, .6) !important; z-index: 10; text-align: center;"><p align="center">Carregando...</p></div>

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {% if is_front %}

      <div id="container" ng-app="myModule">
        <div ng-controller="myController">
          <div id="idRCarregandoBody" ng-init="loadPage()" style="position: absolute; left: 0px; top: 0px; display: block; width: 100%; height: 120%; background-color: rgba(255, 255, 255, .9) !important; z-index: 1000; text-align: center; padding-top: 25%; font-size: 122px;"><p align="center">&nbsp;</p></div>

          <div ng-show="!showMsg">
            <div class="assinatura">
              <img width="80%" height="50%" src="themes/intranetprf/assinatura.svg" alt="Brasao PRF" style="margin-bottom: -15%; margin-left: 10%;"/>
            </div>
              <div id="searchFull" style="margin-bottom: 100px;">
                <div class="inner-addon right-addon div-form">
                  <form name="frmSubBusca" ng-submit="submit('t_search')">
                    <input type="text" style="display:none;" ng-model="objRElastic" ng-init="objRElastic=1;">
                    <input type="text" style="display:none;" ng-model="objNumNoCallElastic" ng-init="objNumNoCallElastic=0;">
                    <input type="text" style="display:none;" ng-model="objRDrupal" ng-init="objRDrupal=1;">
                    <input type="text" style="display:none;" ng-model="objNumNoCallDrupal" ng-init="objNumNoCallDrupal=0;">
                    <input type="text" style="display:none;" ng-model="objRLexml" ng-init="objRLexml=1;">
                    <input type="text" style="display:none;" ng-model="objNumNoCallLexml" ng-init="objNumNoCallLexml=0;">
                    <input type="text" style="display:none;" ng-model="objNumRErrorSearch">
                    <input type="text" style="display:none;" ng-model="objStrTypeSearchENL">
                    <input type="text" style="display:none;" ng-model="objNumLastPageSearch">
                    <input type="text" style="display:none;" ng-model="objNumPaginaLPS" ng-init="objNumPaginaLPS=999999999999999;">

                    <input type="text" class="form-control" ng-model="dataText" placeholder="Pesquisar">
                    <p align="center" style="text-align:center;">
                      <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlyTodos" ng-value="1"> TODOS &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlyWiki" ng-value="1"> WikiPRF &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlyRespostas" ng-value="1"> PRFRespostas &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlySei" ng-value="1"> SEI &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlyNoticias" ng-value="1"> Notícias &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps" ng-model="bolOnlyLexMl" ng-value="1"> LexML
                    </p>

                    <input type="hidden" class="form-control" id="currentPage" ng-model="currentPage">

                    <i class="glyphicon fa fa-keyboard-o"></i>
                    <button type="submit" class="btn btn-link" ></button>

                  </form>
                </div>
              </div>
              <div id="blockFeed" class="col-sm-11 col-md-11" style="
    left: 55px;">
                <div class="blockFeed conhecimento col-sm-1 col-md-1" style="right: 45px;">
                  <div id="conhecimento">
                    <div class="blockFeedRepeat" ng-repeat="news in feedNoticiaConhecimento | filter:{ field_posicao: '!0'} | orderBy:'field_posicao' | limitTo:1">
                      <a href="($ news.view_node $)">
                        <!-- <span class="quickedit-field">($ news.title $)</span> -->
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                          <!-- <img src="($ news.field_image $)" width="200" height="150" > -->
                          <!--p>($ news.field_posicao $)</p-->
                          <!--p>($ news.field_region $)</p-->
                          <!--p>($ news.field_sector $)</p-->
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="blockFeed ascom col-sm-5 col-md-5">
                  <div id="ascom">
                    <div class="blockFeedRepeat col-sm-4 col-md-4" ng-repeat="news in feedNoticiaAscom | filter:{ field_posicao: '!0'} | orderBy:'field_posicao'| unique:'field_posicao' | limitTo:3">
                      <a href="($ news.view_node $)">
                        <!-- <span class="quickedit-field">($ news.title $)</span> -->
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                          <!-- <img src="($ news.field_image $)" width="200" height="150" > -->
                          <!--p>($ news.field_position $)</p-->
                          <!--p>($ news.field_region $)</p-->
                          <!--p>($ news.field_sector $)</p-->
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="blockFeed nucom col-sm-6 col-md-6">
                  <div id="nucom">
                    <div class="blockFeedRepeat col-sm-3 col-md-3" ng-repeat="news in feedNoticiaNucom | filter:{ field_posicao: '!0'} | orderBy:'field_posicao'| limitTo:4">
                      <a href="($ news.view_node $)">
                        <!-- <span class="quickedit-field">($ news.title $)</span> -->
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                          <!-- <img src="($ news.field_image $)" width="200" height="150"> -->
                          <!--p>($ news.field_posicao $)</p-->
                          <!--p>($ news.field_region $)</p-->
                          <!--p>($ news.field_sector $)</p-->
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            {# block result #}
            <!-- {% if paragraph.field_image_position.value == 2 %}

            {% endif %} -->
            <div ng-show="showMsg">
              <div>
                <div class="brasaoResult"></div>   
                <div id="searchFullResult">
                  <div class="inner-addon right-addon">
                    <form name="frmSubBusca2" ng-submit="submit('t_search')">                  
                      <!-- <input type="hidden" name="bolSearch" ng-init="bolSearch='y';"> -->
                      <input type="text" style="display:none;" ng-model="objRElastic" ng-init="objRElastic=1;">
                      <input type="text" style="display:none;" ng-model="objNumNoCallElastic" ng-init="objNumNoCallElastic=0;">
                      <input type="text" style="display:none;" ng-model="objRDrupal" ng-init="objRDrupal=1;">
                      <input type="text" style="display:none;" ng-model="objNumNoCallDrupal" ng-init="objNumNoCallDrupal=0;">
                      <input type="text" style="display:none;" ng-model="objRLexml" ng-init="objRLexml=1;">
                      <input type="text" style="display:none;" ng-model="objNumNoCallLexml" ng-init="objNumNoCallLexml=0;">
                      <input type="text" style="display:none;" ng-model="objStrTypeSearchENL">
                      <input type="text" style="display:none;" ng-model="objNumRErrorSearch">
                      <input type="text" style="display:none;" ng-model="objNumLastPageSearch">
                      <input type="text" style="display:none;" ng-model="objNumPaginaLPS" ng-init="objNumPaginaLPS=999999999999999;">

                      <input type="text" class="form-control" ng-model="dataText" placeholder="Pesquisar">
                      <p align="center" style="text-align:center;">
                        <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlyTodos2" ng-click="setResetRadios('bolOnlyTodos2')" ng-value="1"> TODOS &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlyWiki2" ng-click="setResetRadios('bolOnlyWiki2')" ng-value="1"> WikiPRF &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlyRespostas2" ng-click="setResetRadios('bolOnlyRespostas2')" ng-value="1"> PRFRespostas &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlySei2" ng-click="setResetRadios('bolOnlySei2')" ng-value="1"> SEI &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlyNoticias2" ng-click="setResetRadios('bolOnlyNoticias2')" ng-value="1"> Notícias &nbsp;&nbsp; <input type="radio" name="rdOnlySelectSearchTps2" ng-model="bolOnlyLexMl2" ng-click="setResetRadios('bolOnlyLexMl2')" ng-value="1"> LexML
                      </p>

                      <i class="glyphicon fa fa-keyboard-o"></i>
                            
                      <button type="submit" class="btn btn-link" ></button><br><br>

                    </form>
                     <!-- <form ng-submit="submit()"> -->
                        <p align="center" ng-show="showErrorSearchIntro">Não foi possível encontrar resultados. Tente novamente!</p>
                        <p align="center" ng-show="showErrorSearchPag">
                          <!-- Ou clique ao lado para voltar a página anterior:

                          <button class="btn btn-link" id ="pagedown" ng-model = "pagina" ng-disabled="pagina == 0" ng-click="decrement()">
                          Voltar
                          </button> -->
                        </p>

                        <span ng-show="!showErrorSearch">
                          <button class="btn btn-link" id ="pagedown" ng-model = "pagina" ng-disabled="pagina == 0" ng-click="decrement()">
                          Anterior
                          </button>
                          <span>
                          Página: ($ pagina + 1 $)
                          </span>
                          <button class="btn btn-link" id ="pageup"  ng-model = "pagina" ng-click="increment()">
                          Próximo
                          </button>
                        </span>
                    <!-- </form> -->
                  </div>
                </div>
              </div>
              <div class="blockResult col-md-8" >
                
                <div class="elastic">
                  <div ng-repeat="news in searchResultElastic">
                    <div class="contentResult">
                      <h3><a href="($ news.link $)" target="_blank">($ news.titulo $)</a></h3>        
                      <p>($ news.texto $)</p>
                      <p class="link-color">($ news.link $)</p>
                      <div class="linkResult">
                       <b> ($ news.sistema $)</b>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="drupal">
                  <div ng-repeat="news in searchResultDrupal">
                    <div class="contentResult">
                      <h3><a href="($ news.link $)" target="_blank">($ news.titulo $)</a></h3>        
                      <p>($ news.texto $)</p>
                      <p class="link-color">($ news.link $)</p>
                      <div class="linkResult">
                       <b> ($ news.sistema $)</b>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="lexml">
                  <div ng-repeat="news in searchResultLexml">
                    <div class="contentResult">
                      <h3><a href="($ news.link $)" target="_blank">($ news.titulo $)</a></h3>        
                      <p>($ news.texto $)</p>
                      <p class="link-color">($ news.link $)</p>
                      <div class="linkResult">
                       <b> ($ news.sistema $)</b>
                      </div>
                    </div>
                  </div>
                </div>
                 <!-- <form ng-submit="submit()"> -->
                      <span ng-show="!showErrorSearch">
                        <button class="btn btn-link" id ="pagedown2" ng-model = "pagina" ng-disabled="pagina == 0" ng-click="decrement()">
                        Anterior
                        </button>
                          <span>
                          Página: ($ pagina + 1 $)
                          </span>
                        <button class="btn btn-link" id ="pageup2"  ng-model = "pagina" ng-click="increment()">
                        Próximo
                        </button> 
                      </span>  
                 <!-- </form> -->
              </div>

              <div class="blockRespostas col-md-3">
                <div>
                 <a href="https://www.prf.gov.br/prfrespostas/"target="_blank"><img src="themes/intranetprf/images/001.png" style="
    width: 130%;"></a>
                </div>
              </div>
            </div>
            {# end block result#}
      </div>



      {% endif %}

      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{% if page.footer %}
  {% block footer %}
  <div class="col-sm-12">
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
    </div>
  {% endblock %}
{% endif %}